.UserTasksContainer{
    height:100vh;
    width:85%;
    background: #6059f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserTasksData{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(245, 244, 244);
    width:80%;
    height:80%;
    padding: 2em;
    -webkit-box-shadow: 2px 14px 24px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 14px 24px -10px rgba(66, 68, 90, 1);
    box-shadow: 2px 14px 24px -10px rgba(66, 68, 90, 1);  
    overflow-x:hidden;
    overflow-y:scroll;
}
.UserTasksData table{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
    padding: 1em;
    width: 100%;
    margin-bottom: 1em;
}
.UserTasksData a{
    position:relative;
    bottom:0;
}
table th{
    background-color: #6059f7;
    color: white;
}
.UserTasksData table td, table th{
    border: 1px solid #ddd;
    padding: 1em;
}
table tr:nth-child(even){
    background-color:white
}
table tr:nth-child(odd){
    background-color: #f2f2f2
}

td a, button{
    text-decoration: none;
    color: white;
    border:1px solid #6059f7;
    background: #6059f7;
    font-size: 1em;
    padding: 0.5em;
    cursor:pointer;
    width: 100%;
    transition: 0.2s;
}
td a, button:hover{
    transform: scale(1.05);
}